In [41]:
import requests
import pandas as pd
import time
import json

In [3]:
base_url="https://data.gov.il/api/3/action/datastore_search?"

In [4]:
ACCIDENT_TAZ_id="57c5aef9-70f9-4b71-82fa-52304cfbd031"

In [11]:
resource_id=ACCIDENT_TAZ_id

In [114]:
def get_record(base_url,resource_id,limit):
    responce=requests.get(base_url+"resource_id="+resource_id+"&limit="+limit)
    time.sleep(3)
    if (responce.status_code==200):
        json_raw_data=json.loads(responce.text)
        json_data=json_raw_data['result']
        dict_1=json_data["records"]
        df=pd.DataFrame(dict_1)
    else:
        print("no responce!!!")
        
    return df

In [116]:
limit="300"
data_300=get_record(base_url,resource_id,limit)

In [117]:
data_300

,_id,OID,SUMACCIDEN,ID,CITY,MainUse,POP_2018,TAZAREA,USETYPE,CITYCODE,...,TOTDRIVERS,MOTORCYCLE,TRUCK,BICYCLE,PRIVATE,VEHICLE,ACC_INDEX,YEARMONTH,Shape_Length,Shape_Area
0,1,None,62,544,ראשון לציון,מגורים,9948,852978,מגורים,8300,...,2,0,0,0,1,2,72.686550353367636,202201,3765.786446115574563,852977.610006050905213
1,2,None,14,2172,טבריה,מגורים,6378,1475818,מגורים,6700,...,2,0,0,0,1,2,9.486267636823428,202201,6981.506525870123369,1475817.522336745169014
2,3,None,16,1186,ירושלים,מגורים,12277,346241,מגורים,3000,...,1,0,0,0,1,1,46.210564266491140,202201,3958.161078102537886,346241.173505906423088
3,4,None,14,137,הרצלייה,מגורים,5341,499512,מגורים,6400,...,2,0,0,0,1,2,28.027357090916624,202201,3065.801740193299338,499511.957356023951434
4,5,None,2,1828,קריית אתא,שטח פתוח,0,508601,פנאי/טבע/ספורט,6800,...,4,0,0,0,4,4,3.932353629028488,202201,3692.333819411061995,508601.257332523295190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,None,3,1243,ירושלים,מגורים,2471,228909,מגורים,3000,...,5,0,0,0,5,5,13.105648276387651,202201,2412.808661235035743,228908.935806333029177
296,297,None,1,2615,שמורת טבע מדבר יהודה,שטח פתוח,0,517730973,פנאי/טבע/ספורט,0,...,1,1,0,0,0,1,0.001931505071740,202201,139682.369470817007823,517730972.924199700355530
297,298,None,23,194,רמת גן,מגורים,5940,252595,מגורים,8600,...,2,0,0,0,1,2,91.054991746733535,202201,2507.521719792792283,252594.608585257374216
298,299,None,0,1885,קריית אתא,שטח פתוח,0,502562,פנאי/טבע/ספורט,6800,...,None,None,None,None,None,None,0.000000000000000,202201,3517.439602686698890,502562.182698542310391
299,300,None,12,836,הדר עם כפר חיים משמר השרון מעברות כפר ידידיה,מגורים,3640,8605482,מגורים,0,...,2,0,0,0,1,2,1.394460010155544,202201,16490.679379709374189,8605481.629165878519416