In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
MainDf=pd.read_csv('./DataFrames/MainDataFrame_raw.csv')

In [3]:
MainDf

,Unnamed: 0,Country,Year,Total inland transport infrastructure investment,Rail infrastructure maintenance,Road casualties (injured + killed),Road injury accident,Total inland passenger transport,Road passenger transport,Total inland freight transport in tonne-km per one thousand units of current USD GDP,...,Total Locomotives - Number at 31.12,Total pipelines operated - Length at 31.12 (km),Total transported - Tonnes (1000),Total goods - Tonnes (1 000),Total inland waterways - Length at 31.12 (km),Total railway enterprises - Number at 31.12,Total new mopeds - Number at 31.12 (Unit),Total self-propelled vessels - Number at 31.12 (Units),Total expenditures in road transport vehicles - Million national currency (current prices),Total expenditure in inland waterway vessels - Million national currency (current prices)
0,0,Albania,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Armenia,2000,110 421 157,3 838 572,620,428,5 424,(E) 5 299,630.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Australia,2000,109 000 161,5 705 714,547,400,5 508,(E) 5 370,574.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Austria,2000,70 095 912,6 824 432,478,328,6 188,(E) 6 065,546.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Azerbaijan,2000,61 524 588,5 767 021,510,363,6 600,(E) 6 495,461.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,1339,"""Serbia, Republic of""",2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1340,1340,Colombia,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,1341,Serbia,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1342,1342,United Kingdom,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,1343,Northern Ireland,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
MainDf.columns

Index(['Unnamed: 0', 'Country', 'Year',
       'Total inland transport infrastructure investment',
       'Rail infrastructure maintenance', 'Road casualties (injured + killed)',
       'Road injury accident', 'Total inland passenger transport',
       'Road passenger transport',
       'Total inland freight transport in tonne-km per one thousand units of current USD GDP',
       'Road motor vehicles per one million units of current USD GDP',
       'Road fatalities per one million inhabitant',
       'CO2 emissions from transport in tonnes per one million units of current USD GDP',
       'Total inland transport infrastructure capital value',
       'Road traffic in vehicle-km per one thousand units of current USD GDP',
       'Density of road (km per one hundred sq. km)',
       'Share of household expenditure for purchase of vehicles in total household expenditure for transport',
       'Total passengers - Number (1 000)',
       'Total injury accidents - Number at 31.12 (Unit)',
       'Total of train movements - Train-km [IV-07] (1 000)',
       'Total Lines - Length operated at 31.12 (km)',
       'Total Tracks - Length operated at 31.12 (km)',
       'Total mopeds - Number at 31.12 (Unit)',
       'Total motorways - Length operated at 31.12 (km)', 'Killed',
       'Total passengers - Passenger-km (millions)',
       'Total oil pipeline transport - Tonnes (1 000)',
       'Total vehicle movements - Vehicle-km (millions)',
       'Total gas pipelines - length at 31.12 - km',
       'Killed - rate per population', 'Total Locomotives - Number at 31.12',
       'Total pipelines operated - Length at 31.12 (km)',
       'Total transported - Tonnes (1000)', 'Total goods - Tonnes (1 000)',
       'Total inland waterways - Length at 31.12 (km)',
       'Total railway enterprises - Number at 31.12',
       'Total new mopeds - Number at 31.12 (Unit)',
       'Total self-propelled vessels - Number at 31.12 (Units)',
       'Total expenditures in road transport vehicles - Million national currency (current prices)',
       'Total expenditure in inland waterway vessels - Million national currency (current prices)'],
      dtype='object')

In [7]:
cols=['Unnamed: 0', 'Country', 'Year',
       'Total inland transport infrastructure investment',
       'Rail infrastructure maintenance',
        'Total inland passenger transport',
       'Road passenger transport',
       'Total inland freight transport in tonne-km per one thousand units of current USD GDP',
       'Road motor vehicles per one million units of current USD GDP',
       'CO2 emissions from transport in tonnes per one million units of current USD GDP',
       'Total inland transport infrastructure capital value',
       'Road traffic in vehicle-km per one thousand units of current USD GDP',
       'Density of road (km per one hundred sq. km)',
       'Share of household expenditure for purchase of vehicles in total household expenditure for transport',
       'Total passengers - Number (1 000)',
       'Total of train movements - Train-km [IV-07] (1 000)',
       'Total Lines - Length operated at 31.12 (km)',
       'Total Tracks - Length operated at 31.12 (km)',
       'Total mopeds - Number at 31.12 (Unit)',
       'Total motorways - Length operated at 31.12 (km)',
       'Total passengers - Passenger-km (millions)',
       'Total oil pipeline transport - Tonnes (1 000)',
       'Total vehicle movements - Vehicle-km (millions)',
       'Total gas pipelines - length at 31.12 - km',
        'Total Locomotives - Number at 31.12',
       'Total pipelines operated - Length at 31.12 (km)',
       'Total transported - Tonnes (1000)', 'Total goods - Tonnes (1 000)',
       'Total inland waterways - Length at 31.12 (km)',
       'Total railway enterprises - Number at 31.12',
       'Total new mopeds - Number at 31.12 (Unit)',
       'Total self-propelled vessels - Number at 31.12 (Units)',
       'Total expenditures in road transport vehicles - Million national currency (current prices)',
       'Total expenditure in inland waterway vessels - Million national currency (current prices)',
       'Road casualties (injured + killed)','Road injury accident',
       'Road fatalities per one million inhabitant','Total injury accidents - Number at 31.12 (Unit)',
       'Killed - rate per population', 'Killed']

In [8]:
MainDf=MainDf.reindex(columns=cols)

In [9]:
MainDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344 entries, 0 to 1343
Data columns (total 40 columns):
 #   Column                                                                                                Non-Null Count  Dtype
---  ------                                                                                                --------------  -----
 0   Unnamed: 0                                                                                            1344 non-null   int64
 1   Country                                                                                               1344 non-null   object
 2   Year                                                                                                  1344 non-null   int64
 3   Total inland transport infrastructure investment                                                      69 non-null     object
 4   Rail infrastructure maintenance                                                                       70 non-null     object
 5   Total inland passenger transport                                                                      76 non-null     object
 6   Road passenger transport                                                                              78 non-null     object
 7   Total inland freight transport in tonne-km per one thousand units of current USD GDP                  77 non-null     object
 8   Road motor vehicles per one million units of current USD GDP                                          76 non-null     object
 9   CO2 emissions from transport in tonnes per one million units of current USD GDP                       76 non-null     object
 10  Total inland transport infrastructure capital value                                                   69 non-null     object
 11  Road traffic in vehicle-km per one thousand units of current USD GDP                                  75 non-null     object
 12  Density of road (km per one hundred sq. km)                                                           69 non-null     object
 13  Share of household expenditure for purchase of vehicles in total household expenditure for transport  74 non-null     object
 14  Total passengers - Number (1 000)                                                                     68 non-null     object
 15  Total of train movements - Train-km [IV-07] (1 000)                                                   68 non-null     object
 16  Total Lines - Length operated at 31.12 (km)                                                           68 non-null     object
 17  Total Tracks - Length operated at 31.12 (km)                                                          68 non-null     object
 18  Total mopeds - Number at 31.12 (Unit)                                                                 68 non-null     object
 19  Total motorways - Length operated at 31.12 (km)                                                       68 non-null     object
 20  Total passengers - Passenger-km (millions)                                                            67 non-null     object
 21  Total oil pipeline transport - Tonnes (1 000)                                                         65 non-null     object
 22  Total vehicle movements - Vehicle-km (millions)                                                       64 non-null     object
 23  Total gas pipelines - length at 31.12 - km                                                            67 non-null     object
 24  Total Locomotives - Number at 31.12                                                                   68 non-null     object
 25  Total pipelines operated - Length at 31.12 (km)                                                       65 non-null     object
 26  Total transported - Tonnes (1000)                                                                     67 non-null     object
 27  Total goods - Tonnes (1 000)                                                                          65 non-null     object
 28  Total inland waterways - Length at 31.12 (km)                                                         65 non-null     object
 29  Total railway enterprises - Number at 31.12                                                           68 non-null     object
 30  Total new mopeds - Number at 31.12 (Unit)                                                             56 non-null     object
 31  Total self-propelled vessels - Number at 31.12 (Units)                                                63 non-null     object
 32  Total expenditures in road transport vehicles - Million national currency (current prices)            53 non-null     object
 33  Total expenditure in inland waterway vessels - Million national currency (current prices)             51 non-null     object
 34  Road casualties (injured + killed)                                                                    78 non-null     object
 35  Road injury accident                                                                                  78 non-null     object
 36  Road fatalities per one million inhabitant                                                            77 non-null     object
 37  Total injury accidents - Number at 31.12 (Unit)                                                       68 non-null     object
 38  Killed - rate per population                                                                          72 non-null     object
 39  Killed                                                                                                72 non-null     object
dtypes: int64(2), object(38)
memory usage: 420.1+ KB

In [10]:
MainDf.isna().sum()

Unnamed: 0                                                                                                 0
Country                                                                                                    0
Year                                                                                                       0
Total inland transport infrastructure investment                                                        1275
Rail infrastructure maintenance                                                                         1274
Total inland passenger transport                                                                        1268
Road passenger transport                                                                                1266
Total inland freight transport in tonne-km per one thousand units of current USD GDP                    1267
Road motor vehicles per one million units of current USD GDP                                            1268
CO2 emissions from transport in tonnes per one million units of current USD GDP                         1268
Total inland transport infrastructure capital value                                                     1275
Road traffic in vehicle-km per one thousand units of current USD GDP                                    1269
Density of road (km per one hundred sq. km)                                                             1275
Share of household expenditure for purchase of vehicles in total household expenditure for transport    1270
Total passengers - Number (1 000)                                                                       1276
Total of train movements - Train-km [IV-07] (1 000)                                                     1276
Total Lines - Length operated at 31.12 (km)                                                             1276
Total Tracks - Length operated at 31.12 (km)                                                            1276
Total mopeds - Number at 31.12 (Unit)                                                                   1276
Total motorways - Length operated at 31.12 (km)                                                         1276
Total passengers - Passenger-km (millions)                                                              1277
Total oil pipeline transport - Tonnes (1 000)                                                           1279
Total vehicle movements - Vehicle-km (millions)                                                         1280
Total gas pipelines - length at 31.12 - km                                                              1277
Total Locomotives - Number at 31.12                                                                     1276
Total pipelines operated - Length at 31.12 (km)                                                         1279
Total transported - Tonnes (1000)                                                                       1277
Total goods - Tonnes (1 000)                                                                            1279
Total inland waterways - Length at 31.12 (km)                                                           1279
Total railway enterprises - Number at 31.12                                                             1276
Total new mopeds - Number at 31.12 (Unit)                                                               1288
Total self-propelled vessels - Number at 31.12 (Units)                                                  1281
Total expenditures in road transport vehicles - Million national currency (current prices)              1291
Total expenditure in inland waterway vessels - Million national currency (current prices)               1293
Road casualties (injured + killed)                                                                      1266
Road injury accident                                                                                    1266
Road fatalities per one million inhabitant                                                              1267
Total injury accidents - Number at 31.12 (Unit)                                                         1276
Killed - rate per population                                                                            1272
Killed                                                                                                  1272
dtype: int64