In [30]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
LithuaniaDf=pd.read_csv("../CleanDataFrames/Lithuania.csv")

In [32]:
LithuaniaDf

,Unnamed: 0,Country,Year,Total inland transport infrastructure investment,Rail infrastructure maintenance,Total inland passenger transport,Road passenger transport,Total inland freight transport in tonne-km per one thousand units of current USD GDP,Road motor vehicles per one million units of current USD GDP,CO2 emissions from transport in tonnes per one million units of current USD GDP,...,Total goods - Tonnes (1 000),Total inland waterways - Length at 31.12 (km),Total railway enterprises - Number at 31.12,Total self-propelled vessels - Number at 31.12 (Units),Road casualties (injured + killed),Road injury accident,Road fatalities per one million inhabitant,Total injury accidents - Number at 31.12 (Unit),Killed - rate per population,Killed
0,0,Lithuania,2010,530000000.0,160000000.0,35290.0,34917.0,899.7,559.9,115.1,...,99.0,448.0,1.0,35.0,4529.0,3530.0,96.5,3530.0,9.5,299.0
1,1,Lithuania,2011,461000000.0,153000000.0,32697.0,32308.0,853.4,577.1,97.5,...,95.0,451.0,1.0,31.0,4215.0,3266.0,97.8,3266.0,9.7,296.0
2,2,Lithuania,2012,383000000.0,123000000.0,36981.0,36578.0,890.8,601.7,99.7,...,89.0,452.0,1.0,33.0,4253.0,3391.0,101.1,3391.0,10.0,301.0
3,3,Lithuania,2013,393000000.0,127000000.0,36237.0,35846.0,865.2,618.7,92.0,...,36.0,452.0,1.0,33.0,4263.0,3391.0,86.6,3391.0,8.7,258.0
4,4,Lithuania,2014,491000000.0,143000000.0,27411.0,27038.0,884.0,413.6,98.0,...,47.0,452.0,1.0,36.0,4014.0,3225.0,91.1,3225.0,9.1,267.0
5,5,Lithuania,2015,439000000.0,159000000.0,27683.0,27322.0,989.9,432.9,122.0,...,68.0,446.0,1.0,35.0,3836.0,3033.0,83.3,3033.0,8.2,239.0
6,6,Lithuania,2016,427000000.0,152000000.0,28611.0,28215.0,1049.3,455.8,126.3,...,52.0,485.0,1.0,35.0,3941.0,3201.0,66.9,3201.0,6.5,188.0
7,7,Lithuania,2017,394000000.0,151000000.0,34259.0,33835.0,1149.6,479.8,119.1,...,15.0,488.0,1.0,30.0,3752.0,3055.0,67.5,3055.0,6.7,191.0
8,8,Lithuania,2018,390000000.0,144000000.0,33170.0,32702.0,1131.8,515.0,112.6,...,13.0,493.0,1.0,27.0,3563.0,2925.0,61.8,2926.0,6.2,173.0
9,9,Lithuania,2019,438000000.0,147000000.0,33170.0,32702.0,1274.3,541.9,114.8,...,52.0,452.0,1.0,33.0,3955.0,3188.0,66.6,3225.0,6.7,186.0
10,10,Lithuania,2020,647000000.0,140000000.0,33170.0,32702.0,1277.0,563.0,113.7,...,52.0,452.0,1.0,33.0,3369.0,2817.0,63.0,3225.0,6.3,175.0

In [33]:
LithuaniaDf.drop(["Unnamed: 0"],axis=1,inplace=True)

In [34]:
lr = linear_model.LinearRegression()
x = LithuaniaDf[['Total inland transport infrastructure investment',
'Rail infrastructure maintenance','Road passenger transport',
'Road motor vehicles per one million units of current USD GDP',
'Density of road (km per one hundred sq. km)',
'Total railway enterprises - Number at 31.12']]
y = LithuaniaDf['Killed']
lr.fit(X=x, y=y)

LinearRegression()

Linear regression scores:

In [35]:
print("Slope:",lr.coef_)
print("Intercept:",lr.intercept_)
print("R2:",lr.score(x,y))
print("R2:",r2_score(y,lr.predict(x.values)))

Slope: [-4.59097432e-07 -2.32096537e-06 -2.45039431e-03 -1.32917863e-02
  2.19279273e+02  0.00000000e+00]
Intercept: 602.400665288632
R2: 0.8767963672796277
R2: 0.8767963672796277

In [36]:
LithuaniaDf[['Total inland transport infrastructure investment',
'Rail infrastructure maintenance','Road passenger transport',
'Road motor vehicles per one million units of current USD GDP',
'Density of road (km per one hundred sq. km)',
'Total railway enterprises - Number at 31.12']]

,Total inland transport infrastructure investment,Rail infrastructure maintenance,Road passenger transport,Road motor vehicles per one million units of current USD GDP,Density of road (km per one hundred sq. km),Total railway enterprises - Number at 31.12
0,530000000.0,160000000.0,34917.0,559.9,1.9,1.0
1,461000000.0,153000000.0,32308.0,577.1,1.5,1.0
2,383000000.0,123000000.0,36578.0,601.7,1.1,1.0
3,393000000.0,127000000.0,35846.0,618.7,1.1,1.0
4,491000000.0,143000000.0,27038.0,413.6,1.3,1.0
5,439000000.0,159000000.0,27322.0,432.9,1.2,1.0
6,427000000.0,152000000.0,28215.0,455.8,1.1,1.0
7,394000000.0,151000000.0,33835.0,479.8,0.9,1.0
8,390000000.0,144000000.0,32702.0,515.0,0.9,1.0
9,438000000.0,147000000.0,32702.0,541.9,0.9,1.0
10,647000000.0,140000000.0,32702.0,563.0,1.3,1.0

# Prediction results
This is the result if all the features are as same as the last sumple

In [37]:
LithuaniaDf[['Total inland transport infrastructure investment',
'Rail infrastructure maintenance','Road passenger transport',
'Road motor vehicles per one million units of current USD GDP',
'Density of road (km per one hundred sq. km)',
'Total railway enterprises - Number at 31.12']].values

array([[5.3000e+08, 1.6000e+08, 3.4917e+04, 5.5990e+02, 1.9000e+00,
        1.0000e+00],
       [4.6100e+08, 1.5300e+08, 3.2308e+04, 5.7710e+02, 1.5000e+00,
        1.0000e+00],
       [3.8300e+08, 1.2300e+08, 3.6578e+04, 6.0170e+02, 1.1000e+00,
        1.0000e+00],
       [3.9300e+08, 1.2700e+08, 3.5846e+04, 6.1870e+02, 1.1000e+00,
        1.0000e+00],
       [4.9100e+08, 1.4300e+08, 2.7038e+04, 4.1360e+02, 1.3000e+00,
        1.0000e+00],
       [4.3900e+08, 1.5900e+08, 2.7322e+04, 4.3290e+02, 1.2000e+00,
        1.0000e+00],
       [4.2700e+08, 1.5200e+08, 2.8215e+04, 4.5580e+02, 1.1000e+00,
        1.0000e+00],
       [3.9400e+08, 1.5100e+08, 3.3835e+04, 4.7980e+02, 9.0000e-01,
        1.0000e+00],
       [3.9000e+08, 1.4400e+08, 3.2702e+04, 5.1500e+02, 9.0000e-01,
        1.0000e+00],
       [4.3800e+08, 1.4700e+08, 3.2702e+04, 5.4190e+02, 9.0000e-01,
        1.0000e+00],
       [6.4700e+08, 1.4000e+08, 3.2702e+04, 5.6300e+02, 1.3000e+00,
        1.0000e+00]])

In [38]:
lr.predict([[6.4700e+08, 1.4000e+08, 3.2702e+04, 5.6300e+02, 1.3000e+00,1.0000e+00]])

array([177.87645935])

The result is similar to 175 as explected

Prediction if we will increase the "Total inland transport infrastructure investment" featue:

In [39]:
lr.predict([[6.7700e+08, 1.4000e+08, 3.2702e+04, 5.6300e+02, 1.3000e+00,1.0000e+00]])

array([164.1035364])

Number road casulties will decrease

Prediction if we will increase the "Rail infrastructure maintenance" featue:

In [40]:
lr.predict([[6.4700e+08, 1.5000e+08, 3.2702e+04, 5.6300e+02, 1.3000e+00,1.0000e+00]])

array([154.66680562])

Number of road casulties will decrease

Prediction if we will increase the "Road passenger transport" featue:

In [41]:
lr.predict([[6.4700e+08, 1.4000e+08, 3.6002e+04, 5.6300e+02, 1.3000e+00,1.0000e+00]])

array([169.79015811])

Number road casulties will decrease

Prediction if we will increase the "Road motor vehicles per one million units of current USD GDP" featue:

In [42]:
lr.predict([[6.4700e+08, 1.4000e+08, 3.2702e+04, 9.9000e+02, 1.3000e+00,1.0000e+00]])

array([172.20086662])

Number road casulties will decrease much slowly

Prediction if we will increase the "Density of road (km per one hundred sq. km)" featue:

In [43]:
lr.predict([[6.4700e+08, 1.4000e+08, 3.2702e+04, 5.6300e+02, 1.5000e+00,1.0000e+00]])

array([221.73231394])

Number road casulties will increase raidly

Prediction if we will increase the "Total railway enterprises - Number at 31.12" featue:

In [44]:
lr.predict([[6.4700e+08, 1.4000e+08, 3.2702e+04, 5.6300e+02, 1.3000e+00,8.0000e+00]])

array([177.87645935])

no impact at all